body {
    background: #026F1A;
    position: relative;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.App-wrapper {
    padding: 0 1em 1em;

    @media (min-width: 480px) {
        padding: 0 2em 1em;
    }

    @media (min-width: 640px) {
        padding: 0 3em 1em;
    }

    @media (min-width: 960px) {
        padding: 0 5em 1em;
    }

    @media (min-width: 1120px) {
        padding: 0 1em 1em;
        max-width: calc(1280px + (2*2.56rem));
        margin: 0 auto;
    }
}

.App {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.App-heading {
    padding: 1em 2em;
    color: white;
    -webkit-text-stroke: 0.2px black;
    width: 100%;
    background-color: green;
}

.btn,
button {
    background-color: #DD8735;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    padding: 10px;
    margin: 10px 5px;

    &:hover,
    &:focus,
    &:active {
        background-color: #F3A65C;
    }

    &.primary {
        background-color: #B72C70;

        &:hover,
        &:focus,
        &:active {
            background-color: #CA4C8A;
        }
    }

    &.secondary {
        background-color: #28A744;

        &:hover,
        &:focus,
        &:active {
            background-color: #45B85E;
        }
    }
}

//Don't do this, overriding bootstrap
.dropdown {
    .btn-primary {
        &:hover,
        &:focus,
        &:active {
            background-color: #F3A65C !important;
        }
    }

    .dropdown-item {
        &:hover {
            background-color: #F3A65C;
        }
    }
}