.Table-wrapper {
    overflow-x: scroll;
    position: relative;
}

table { 
    table-layout: fixed;
    background-color: #6FD084;
    border: 2px solid #026F1A;
    min-width: 100%;
}

th {
    white-space: nowrap;
    background-color: #6FD084;
}

th,
td {
    padding: 5px 10px;
    min-width: 200px;
}

td {
    border: 2px solid #026F1A;
    border-left: none;
    border-right: none;
    font-weight: 300;
    text-shadow: 0 0 10px rgba(#026F1A, 0.2);
}

tr {
    &:nth-child(odd) {
        background-color: #45B85E;
    }
}

.sortable {
    display: inline-block;
    position: relative;
    height: 100%;
    cursor: pointer;

    &:before,
    &:after {
        position: absolute;
        height: 5px;
        width: 5px;
        right: -5px;
        color: #B72C70;
    }

    &:before {
        top: -4px;
        content: '\25B4';
    }

    &:after {
        top: 4px;
        content: '\25BE';
    }

    &.sorted {
        text-decoration: underline;
        
        &.up {
            &:after {
                content: '';
            }
        }

        &.down {
            &:before {
                content: '';
            }
        }
    }
}