.Picker {
    border-radius: 10px;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #026F1A;
    padding: 10px;
    margin: 40px;
}

.Picker-title {
    font-size: 24px;
    font-weight: 700;
    margin: auto 0;
}

.Picker-selectedItems {
    padding: 10px;

    ol {
        margin: 0;
    }
}

.Picker-choices {
    display: flex;
    flex-wrap: wrap; 
    list-style: none;
    padding: 2em;
    margin: 0;
    justify-content: center;
}

.Picker-choice {
    background-color: #6FD084;
    border: 1px solid #026F1A;
    border-radius: 5px;
    margin: auto 2px 4px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &.selected {
        background-color: rgba(#6FD084, 0.4);
        box-shadow: 0 0 10px 5px #DE77AA;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: rgba(#6FD084, 0.4);
        box-shadow: 0 0 10px 5px #DE77AA;
    }
}

.Picker-choiceWrapper {
    margin: auto 2px;
    text-align: center;
    line-height: 1;
}

.Picker-currentChoiceWrapper {
    display: flex;
    justify-content: space-between;
}

.Picker-currentChoice {
    margin: auto 0;

    span {
        font-weight: 700;
    }
}
